.container,.row{
    border: thin solid red;
}
#head_text{
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    border-right: 1px solid grey;
    text-transform: capitalize;
}   
.head_sub_text{
    font-size: small;
    margin: 3px;
    text-align:left ;
    text-transform: uppercase;
    opacity: 0.9;
    padding-top: 5px;
}
/* media */
@media (max-width:572px) {
    .head_sub_text{
        /* font-size: x-small; */
        /* visibility: hidden; */
    }
    #head_text{
        font-size: 35px;
        text-align: center;
        border-right: transparent;
        font-weight: bold;

    }
}
.head_sub_text::first-letter{
    color: red;
}
#sing_in_with{
    font-size: x-small;
    text-align: left;
    border-bottom: solid thin rgb(158, 154, 154);
}
.btn{
    padding: 3px 30px;
    font-style: normal;
    font-weight: bold;
    opacity:initial;
}
/* login boxes */
#singin_box{
    border-right: thin solid rgb(158, 154, 154);
    opacity: 0.8;
}
/* buttons */
#btn-singin
{
    text-align: right;
    border-right: thin solid rgb(158, 154, 154);
}
#btn-register
{
    text-align: left;
}
.sub-nav-text{
    font-size: small;
    margin: 3px;
    opacity: 0.8;
}
.main-nav-text{
    font-size: large;
    font-weight: bold;
    opacity: 0.8;
    text-transform: uppercase
}
.nav-section{
    border-right: 1.5px solid rgb(158, 154, 154);
}
/* second header section */
.rounded-icon{
    font-size: 20px;
    color: white;
    border: thin solid transparent;
    background-color: grey;
    padding: 03px;
    border-radius: 50%;
}
#icons-search{
    border:thin solid rgb(158, 154, 154);
    border-left: transparent;
    padding: 05% 0%;
    border-right: transparent;
}
#slider{
    background-color: rgb(235, 233, 233);
    padding: 15px;
}
.fa-superpowers,.fa-book,.fa-eercast{
    font-size: 40px;
}
#grey{
    background-color: rgb(189, 187, 187);
    padding: 15px;
}
footer{
    background-color: rgb(202, 200, 200);
    padding: 10px 0px;

}
.footer>b{
    padding: 0px 10px;
    border-right: thin solid grey;
    font-weight: bold;
    opacity: 0.8;
}
#last-footer-element{
    border-right: transparent;
}
.footer>.fa{
    float: right;
    margin: 0px 5px;
}
.fa-wifi{
    transform: rotate(45deg);
    
}